// Colors
$grey: #333;
$white: #fff;
$blue: #2099E8;
$lightBlue: #B5D0E2;

//navigation colors
$nav-background: $grey;
$nav-text-color: $white;

//clock colors
$clock-background: $lightBlue;
$clock-border: $blue;
$clock-time-color: $white;
